/* Common Styles */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: #181818;
    height: 10vh;



}

.nav-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-ul li {
    margin-top: 15px;
}

nav li>a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;

}

nav li>a:hover {
    color: #F15B22;
}

.home-btn {
    background-color: #F15B22;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 22px;
    font-weight: 600;
}

.header-content {

    position: absolute;
    top: 240px;
    right: 10px;
    width: 700px;

}

.header-container {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    background-size: contain;
    position: relative;

}

.header-title {
    width: 525px;
    color: #151414;
    text-align: right;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 24px;

}

.ban-img {
    width: 100%;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    width: 530px;
    text-align: right;
    margin-bottom: 32px;
}

.ban-btn {
    background-color: #F15B22;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 200px;
}

main {
    max-width: 1140px;
    margin: 30px 200px;
}

.about-frame-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.about-frame-image {
    width: 451px;

}

.frame-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    width: 400px;
    margin-bottom: 24px;
}

.frame-description {
    color: #444343;
    width: 416px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}

.frame-unorder-list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 30px;
}

.my-plans {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.my-plans-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}


.my-plans-description {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 80px;
}

.my-plan-box-icon {
    text-align: center;
    margin-bottom: 20px;
}

.cover-container {
    background-image: url('../images/watch.png');
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;

}

.overlay {
    position: absolute;
}

.cover-content {
    position: relative;
    top: 59px;
    left: 64px;

}

.cover-title {
    color: #FFF;
    width: 500px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.cover-btn {
    width: 130px;
    height: 50px;
    border-radius: 6px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.footer-container {
    height: 50vh;
    color: white;
    background-color: #151414;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-box {
    width: 500px;
    height: 40vh;
}

.footer-title {
    color: #F8F8F8;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-description {
    color: #FFF;
    width: 485px font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}

.footer-contact {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.footer-contact p {
    margin-bottom: 15px;
}

.footer-social-icon {
    width: 185px;
    height: 46px;
    margin-bottom: 10px;


}

.footer-social-icon a {
    padding: 0px 5px;

}

.footer-form input[type="email"] {
    display: block;
    margin-bottom: 25px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 21px 158px 22px 21px;

}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
}

.footer-form input[type=submit] {
    width: 130px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    
}